<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<div class="result">
  <% if @test_passage.successful? %>
    <p class="succes"><%= t('.success', result: @test_passage.success_rate) %></p>
  <% else %>
    <p class="fail"><%= t('.fail', result: @test_passage.success_rate) %></p>
  <% end %>
</div>
<p><%= link_to t('.alltests'), tests_path %></p>
