<footer class="bg-light">
  <div class="container pt-3 pb-3">
    <p><%= current_year %> | Danila Rusin</p>
    <p><%= github_url('Runidan', 'TestGuru') %></p>
    <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", 'http://thinknetica.com/', target: "_blank" %></p>
  </div>

</footer>
