<li>
  <%= answer.body%><br>
  <%= link_to t('global.show'), admin_answer_path(answer) %> |
  <%= link_to t('global.edit'), edit_admin_answer_path(answer) %> |
  <%= link_to t('global.delete'), admin_answer_path(answer), 
                        method: :delete,
                        data: {confirm: t('global.confirm')} %>
</li>
