<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('global.show'), admin_question_path(question) %></td>
  <td><%= link_to t('global.edit'), edit_admin_question_path(question) %></td>
  <td><%= link_to t('global.delete'), admin_question_path(question), method: :delete, data: {confirm: t('global.confirm')} %></td>
</tr>
