<% if @tests.present?%>

<%= link_to "New test", new_admin_test_path %>
<h2>Существующие тесты</h2>
  <table>
    <tr>
      <th>Тесты</th>
      <th>Уровень</th>
      <th colspan = 3>Actions</th>
    </tr>
    <%= render @tests %>
  </table>
<% else %>
  <p>Тесты отсуствуют</p>
<% end %>
