<% if @tests.present?%>
<h2>Существующие тесты</h2>
  <table>
    <tr>
      <th>Тесты</th>
      <th>Уровень</th>
    </tr>
    <%= render @tests %>
  </table>
<% else %>
  <p>Тесты отсуствуют</p>
<% end %>