<% if @tests.present?%>

  <h2><%= t('.header') %></h2>
    <table>
      <tr>
        <th>Тесты</th>
        <th>Уровень</th>
        <th>Actions</th>
      </tr>
      <%= render @tests %>
    </table>
<% else %>
  <p>Тесты отсуствуют</p>
<% end %>
